@font-face{
    font-family: "Roboto";
    src: url("Roboto/Roboto-Regular.ttf");
}
/* Header */

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    margin-right: 20px;
}
#banniere_image{
    margin-top: 20px;
    height: 200px;
    
}