@font-face{
    font-family: "Roboto";
    src: url("Roboto/Roboto-Regular.ttf");
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    display: flex;
}