@font-face{
    font-family: "Roboto";
    src: url("Roboto/Roboto-Regular.ttf");
}
/* Header */

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    margin-right: 20px;
}
#banniere_image{
    background: url("Images/backgroung_image.jpg") no-repeat;
}
.texte_banniere{
    display: flex;
    justify-content: center;
}
.paragraphe{
    text-align: center;
}
.contenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}